<%- include('layouts/header'); -%>
<h1>this is signup page</h1>
<form>
    <h2>Signup</h2>
    <label for="email">Email</label>
    <input type="text" name="email">
    <div class="email error"></div>
    <label for="password">Password</label>
    <input type="password" name="password">
  <div class="password error"></div>
  <button>Signup</button>
</form>