<%- include ('../layouts/header'); -%>
<header>
    <div class="products">
        <img src="/public/images/shopping.png" alt="" srcset="">
    </div>
</header>
<%- include ('../layouts/footer'); -%>

