<%- include ('./layouts/header'); -%>
<ul class="products">
    <li class="recipe">
        <img src="/public/images/shopping.png" alt="" srcset="">
        <h4>controllers</h4>
        <p>controllers are good</p>
    </li>
</ul>
<%- include ('./layouts/footer'); -%>